Scheduled Interviews

<ul>
  <% @interviews_scheduled_for_interviewer.each do |interview| %>
    <% info = "Interviewee: " + interview.interviewee_email + ", Time: " + interview.interview_date.to_s %>
    <li><%= info%></li>
  <% end %>
</ul>

<br /> 

Possible Interviews

<ul>
  <% @interviews_unscheduled.each do |interview| %>
    <% info = "Interviewee: " + interview.interviewee_email + ", Time: " + interview.interview_date.to_s %>
    <li><%= link_to info, edit_interview_path(interview) %></li>
  <% end %>
</ul>