<h2>Interviewees</h2>

<ul>
<% @interviewees.each do |u| %>
  <li><%= u.name %></li>
<% end %>
</ul>

<h2>Interviewers</h2>

<ul>
<% @interviewers.each do |u| %>
  <li><%= u.name %></li>
<% end %>
</ul>